---
import Base from "../layouts/Base.astro";
---

<Base title="TermSurf" showHeaderBrand={false}>
  <section class="mb-8">
    <div class="mb-6 flex items-center gap-4">
      <picture>
        <source
          srcset="/images/termsurf-14-dark-192.png"
          media="(prefers-color-scheme: dark)"
        />
        <img
          src="/images/termsurf-14-light-192.png"
          alt="TermSurf logo"
          class="h-16 w-16"
        />
      </picture>
      <div>
        <h1 class="text-foreground text-xl font-bold">TermSurf</h1>
        <p class="text-primary text-sm font-bold">Terminal + Browser</p>
      </div>
    </div>

    <h2 class="font-heading text-3xl font-bold tracking-tight sm:text-4xl mb-4">
      ROOT ACCESS TO THE 'NET.
    </h2>
    <p class="text-foreground-dark text-sm">
      TermSurf is a protocol that overlays web browser engines, like
      Chromium and WebKit, in your terminal emulator.{" "}
      <a href="/docs" class="text-primary hover:text-accent">
        Read the docs &rarr;
      </a>
    </p>
    <div class="mt-6 border-t border-border"></div>
  </section>
  <section class="mb-8">
    <img
      src="/images/screenshot3.webp"
      alt="TermSurf — a browser pane alongside terminal panes"
      class="w-full"
    />
    <h2 class="text-sm font-bold text-foreground mt-3">
      TermSurf: A browser-native terminal workflow
    </h2>
    <p class="text-sm text-muted mt-2">
      TermSurf supports GPU-rendered web pages using real browser
      engines like Chromium and WebKit. <em>In your terminal</em>.
      Furthermore, TermSurf is the only browser that supports multiple
      profiles and multiple engines in the same window at the same time.{" "}
      <a href="/docs" class="text-primary hover:text-accent">
        Learn more in the docs &rarr;
      </a>
    </p>
  </section>
</Base>
